:root{
    --barn-red: #780000ff;
    --fire-brick: #c1121fff;
    --papaya-whip: #fdf0d5ff;
    --prussian-blue: #003049ff;
    --air-superiority-blue: #669bbcff;
}

*{
    margin: 0;
    padding: 0;
}

.nav1{
    background-color: var(--prussian-blue);
}

.nav2{
    display: flex;
}

.logo{
    margin: 5px;
}

.discovery{
    color: firebrick;
}

.foggia{
    color: white;
}

.nav-link1{
    display: block;
    justify-content: end;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #dedede;
    text-decoration: none;
    background: 0 0;
    border: 0;
    margin: 10px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.title{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

p{
    margin-left: 30px;
    margin-right: 30px;
}

.developer-credits {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
  
  }
  
  
  @media only screen and (max-width: 600px) {
    .developer-credits {
      flex-direction: column; /* Imposta il layout delle colonne per schermi più piccoli */
    }
  
    .developer {
      margin-bottom: 70px; /* Aggiunge spazio tra le immagini quando sono in modalità verticale */
    }
  }
  
  .developer{
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px
  }
  
  .dev-image-TheiPhoneDev{
    border-radius: 200px;
    width: 300px;
    margin: 0 auto;
  }
  
  .dev-image-mantux{
    border-radius: 200px;
    width: 300px;
    margin: 0 auto;
  }
  
  .dev-name{
    font-size: 50px;
    font-family: sans-serif;
    color: #000000;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10px; /* Aggiunge un po' di spazio sopra il nome */
  }
  
  .social-media-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Aggiunge un po' di spazio sopra l'icona sociale */
  }
  